<%= simple_form_for [@recipient, @message] do |f| %>
  <% if @message.errors.any? %>
  <div>
    <h2>
    <%= pluralize(@message.errors.count, "error") %>
    prevented this message from saving.
    </h2>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="form-group">
  <%= f.hidden_field :recipient_id, value: @recipient.id %>   
    <%= f.input :message, input_html: { class: 'form-control' }, placeholder: "Say Something!", autofocus: true %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

